.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #5a5a5a;
    color: white;
    font-size: 24px;
    flex: 1;
    margin: 1px;
    border-radius: 25px;
}