body {
  background-color: black;
  color: white;
}

.App{
  align-items: center;
  justify-content: center;
  display: flex;
}

.calci_wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}